body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, aqua, white);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container{
    background: linear-gradient(to right, aqua, white);
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 4px black;
    padding: 20px;
    text-align: center;
}

h1{
    text-decoration: underline rgb(250, 250, 98);
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-size: 38px;
}

.question{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

.options{
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.option{
    background: linear-gradient(to right, black, rgb(216, 215, 215));
    border-radius: 6px;
    padding: 8px;
    margin: 6px;
}
.option.selected{
    background: white;
    color: black;
}

.next-btn{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 4px 0 black;
    padding: 6px;
    margin-top: 12px;
    width: 20%;
    font-size: 13px;
    font-weight: bold;

}
.next-btn:hover{
    color: gray;
}
.next-btn:active{
    transform: translateY(2px);
    box-shadow: 0 1px 0 black;
}

.result{
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 3px black;
    margin: 20px;
    
    font-size: 24px;
    text-align: center;
    color: white;
}

.hidden{
    display: none;
}

